<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :year_level_group_id %>
    <%= form.collection_select :year_level_group_id, YearLevelGroup.order(:id), :id, :name %>
  </div>

  <div class="field">
    <%= form.label :sport %>
    <%= form.collection_select :sport_id, Sport.order(:name), :id, :name %>
  </div>

  <div class="field">
    <%= form.label :coach_id %>
    <%= form.collection_select :coach_id, Coach.order(:name), :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
