<p id="notice"><%= notice %></p>

<p>
  <strong>Sport:</strong>
  <%= @team.sport.name %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @team.coach.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', sport_path(@team.sport) %>
