<p id="notice"><%= notice %></p>

<h1>  Sports </h1>

<h2> <%= "@sports is #{@sports}" %> </h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Season</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <% @sports.each do |sport| %>
        <td><%= sport.name %></td>
        <td><%= sport.season.name %></td>
        <td><%= sport.gender %></td>
        <td><%= link_to 'Show', sport %></td>
        <td><%= link_to 'Edit', edit_sport_path(sport) %></td>
        <td><%= link_to 'Destroy', sport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<% if current_user.id == 1 %>
<%= link_to 'New Sport', new_sport_path %>
<% end %>




  