<p id="notice"><%= notice %></p>

<h1>Active Squads</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @active_squads.each do |active_squad| %>
      <tr>
        <td><%= active_squad.team %></td>
        <td><%= active_squad.student %></td>
        <td><%= link_to 'Show', active_squad %></td>
        <td><%= link_to 'Edit', edit_active_squad_path(active_squad) %></td>
        <td><%= link_to 'Destroy', active_squad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Active Squad', new_active_squad_path %>
